@import url('https://fonts.googleapis.com/css?family=Bangers|Permanent+Marker');

body {
  width: 90%;
  padding-left: 5%
}

#camelcase {
  text-transform: uppercase;
}

header {
  position:fixed;
  width: 90%;
  top: 0px;
  background-color: black;
  display: inline-block;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: tomato;
}

header h2 {
  padding-left: 100px;
  float: left;
}

header nav {
  padding-right: 85px;
  padding-top: 10px;
  float: right;
  list-style: none;
}

header nav li {
  padding-right: 15px;
  display: inline;
}

main {
  margin-top: 67px;
}

main section:first-of-type {
  height: 500px;
  background-image: url("../assets/hero.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

main section h1 {
  padding-top: 180px;
  font-size: 6.0em;
  color: white;
  font-family: 'Permanent Marker'
}

h1 {
  opacity: 1;
  animation: fade 4s linear;
}

@keyframes fade {
  0% { opacity: 0 }
  100% { opacity: 1 }
}

main section:nth-of-type(2) h2 {
  border-top: 1px dashed black;
  border-bottom: 1px dashed black;
  margin-bottom: 0px;
  text-align: center;
  font-size: 3.0em;
  font-family: 'Bangers', cursive;
}

#postbundle {
  max-width: 900px;
}

.post {
  width: 200px;
  height: 230px;
  display: inline-block;
  border: 1px solid black;
  border-radius: 6%;
  padding: 0px 0px 15px 0px;
  margin: 1.0em;
  text-align: center;
  vertical-align: top;
}

.post p {
  font-size: 0.8em;
  margin: 15px;
}

.title {
  border-bottom: 1px solid black;
}

.title h3 {
  font-size: 1em;
  padding: 0px 5px;
}

.post p:last-of-type {
  border-radius: 25px;
  border: 1px solid tomato;
  padding: 3px 20px;
  text-align: center;
  display: inline;
  width: 200%;
}

.post p a {
  text-decoration: none;
  color: tomato;
}

.post p a:hover{
  font-weight: bold;
}

main section:last-of-type {
  height: 400px;
  background-image: url("../assets/everybody.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;
}

main section:last-of-type h2 {
  padding-top: 150px;
  font-size: 3.0em;
  font-family: 'Permanent Marker';
  color: white;
  text-align: center;
  margin: 0px;
  /*max-width: 400px;
  padding: 10%;*/
}

footer span h4 {
  float: left;
  clear: both;
  margin: 0px;
}

footer span h4:after {
  content: "\00a0";
}

ul li a {
  color: black;
}

footer span {
  display: inline-block;;
}

footer span nav {
  font-weight: bold;
}

#disclaimer {
  max-width: 400px;
  text-align: justify;
}
