@import url('https://fonts.googleapis.com/css?family=Bangers|Permanent+Marker');

#camelcase {
  text-transform: uppercase;
}

header {
  position:fixed;
  width: 100%;
  top: 0px;
  background-color: black;
  display: inline-block;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: tomato;
}

header h2 {
  padding-left: 100px;
  float: left;
}

header nav {
  padding-right: 85px;
  padding-top: 10px;
  float: right;
  list-style: none;
}

header nav li {
  padding-right: 15px;
  display: inline;
}

main {
  margin-top: 67px;
}

main section:first-of-type {
  height: 500px;
  background-image: url("../assets/hero.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

main section h1 {
  padding-top: 180px;
  font-size: 6.0em;
  color: white;
  font-family: 'Permanent Marker'
}

h1 {
  opacity: 1;
  animation: fade 4s linear;
}

@keyframes fade {
  0% { opacity: 0 }
  100% { opacity: 1 }
}

main section:nth-of-type(2) h2 {
  border-top: 1px dashed black;
  border-bottom: 1px dashed black;
  margin-bottom: 0px;
  text-align: center;
  font-size: 3.0em;
  font-family: 'Bangers', cursive;
  position: relative;
}

.postbundle {
  text-align: center;
}

.post {
  width: 200px;
  height: 230px;
  display: inline-block;
  border: 1px solid black;
  border-radius: 6%;
  padding: 0px 0px 15px 0px;
  margin: 1.0em;
  text-align: center;
  vertical-align: top;
}

.post p {
  font-size: 0.8em;
  margin: 15px;
}

.title {
  border-bottom: 1px solid black;
}

.title h3 {
  font-size: 1em;
  padding: 0px 5px;
}

.post p:last-of-type {
  border-radius: 25px;
  border: 1px solid tomato;
  padding: 3px 20px;
  text-align: center;
  display: inline;
  width: 200%;
}

.post p a {
  text-decoration: none;
  color: tomato;
}

.post p a:hover{
  font-weight: bold;
}

main section:nth-child(3) {
  margin-top: 10px;
  background-color: tomato;
  text-align: center;
  height: 290px;
  color: white;
}

#join{
  font-size: 1.5em;
  display: inline-block;
  vertical-align: top;
  padding-right: 30px;
}

#join h2 {
  margin-bottom: 0px;
  float: left;
  clear: both;
}

#join h2::after {
  content: "!"
}

#join p {
  font-size: 1.0rem;
  text-align: justify;
  max-width: 270px;
}

#join + img {
  display: inline-block;
  padding-top: 35px;
  width: 330px;
  height: auto;
}

main section:last-of-type {
  height: 400px;
  background-image: url("../assets/everybody.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;
}

main section:last-of-type h2 {
  padding-top: 150px;
  padding-left: 24%;
  font-size: 3.5em;
  font-family: 'Permanent Marker';
  color: white;
  margin: 0px;
  max-width: 500px;
  text-align: center;
}

footer {
  background-color: dimgray;
  padding-left: 15%;
  display: flex;
}

footer div:first-of-type {
  display: inline;
  margin: 0px;
}

footer div h4 {
  font-size: 9px;
  float: left;
  clear: both;
  margin-right: 0px;
  margin-bottom: 0px;
}

footer div h4:after {
  content: "\00a0";
}

footer a {
  color: black;
}

footer div nav {
  font-weight: bold;
  text-align: left;
  padding-right: 10%;
}

#disclaimer {
  line-height: 1.5;
  font-size: 9px;
  margin-right: 50px;
  max-width: 330px;
  text-align: justify;
}
